@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #f9f8f8;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
form{
    background-color: #ffffff;
    border-radius: 15px;
    width: 230px;
    padding: 30px;
    box-shadow: 3px 3px 10px #888888;
}
h1{
    color: #000080;
    margin: 15px 0 10px 0;
    text-align: center;
}
input[type=text],input[type=password], input[type=number], textarea{
    font-size: 15px;
    width: 210px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}
input[type=text],input[type=password], input[type=number], textarea, #gender, #wpldyk{
    display: block;
}
.wpldyk label{
    display: block;
}
.gender, .wpldyk{
    margin-bottom: 10px;
}
input[type=submit]{
    font-size: medium;
    background-color: #253da1;
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: none;
}
input[type=submit]:hover{
    background-color: #02055a;
}